header.grid.main-header
    div.header-content.grid
        h1 We Are Real Creators
        div.header-buttons
            a.button(href='#') Follow
            a.button.button-gray(href='#') Go Home
