head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(name='description', content='CSS Grid Real Example')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CSS Grid Real Example
    link(rel='shortcut icon', href='assets/img/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='assets/css/vendor.min.css')
    link(rel='stylesheet', href='assets/css/styles.min.css')

