.container
  max-width 1200px
  margin auto
  padding 0 gutter

.landing-section
  padding 80px 0
  h2
    font-size 34px
    font-weight 800
    color darkColor
    line-height 1.2

.section-ready
  background-color lightColor
  .container
    grid-template-columns 1fr 1fr

.ready-left
  border-right 1px solid #dadada
  font-size 18px
  padding 60px 60px 60px 0
  h2
    margin-top 0
    margin-bottom 40px

.ready-right
  padding-left 40px