.section-blog
  h2
    margin-top 0
    margin-bottom 50px
  .buttoncase
    padding-bottom 0
.blog-home
  grid-gap gutter
  grid-template-columns repeat(4, 1fr)
.blog-item
  background-color #f7f7f7
  text-decoration none
  grid-template-rows 1fr 1fr
  transition background-color 0.25s ease
  overflow hidden
  color: #333333
  &:nth-child(3)
    grid-column 3/5
  &:nth-child(4)
    grid-column 1/3
  &:hover
    background-color lightColor
    h4
      color darkColor
    .blog-item-img
      transform scale(1.05) translateY(-6.5px)
  &-img
    height 270px
    background-size cover
    background-position center
    transition transform 0.25s ease
  &-content
    padding 25px
    text-align center
    align-content center
    h4
      font-size 18px
      color #666666
      line-height 1.3
      margin 0
      transition color 0.25s ease
    p
      margin-top 20px
      margin-bottom 0