.main-footer
  padding 60px 0
  background-color darken(darkColor, 8%)
  text-align center
  color: #4e5355
.footer-logo
  font-family intro-grid, sans-serif
  font-size: 22px
  line-height 1.16
  span
    display block
    color #707476
    font-size 26.8px
.footer-copy
  font-size 20px
  font-weight bold
  color #494d50
  margin-top 20px